<ion-content>
  <div class="login-section">
    <div class="heading ion-padding">
      <h1>Forgot Your Password?</h1>
      <p>Enter Your Email we'll get you back on track.</p>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <!-- <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Enter New Password</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item> -->

          <!-- <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">ReEnter New Password</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item> -->
        </div>
      </div>
    </form>
    <div class="action-buttons ion-padding">
      <ion-button
        class="login-button"
        [disabled]="!forgotPasswordForm.valid"
        type="submit"
        >Reset Password
      </ion-button>
      <ion-button
        class="signup-button"
        size="medium"
        fill="outline"
        [routerLink]="['/login']"
        >Back To Login</ion-button
      >
    </div>
  </div>
</ion-content>
